
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @System.Web.Optimization.Scripts.Render("~/bundle/js")
        @System.Web.Optimization.Styles.Render("~/bundle/css")
    </div>
</body>
</html>
